*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.border{
    border: 3px solid black ;
    padding: 5px;
}

.flex-container{
    display:flex;
    flex-direction: row;    
}

.outer{
   height:97vh; 
    margin: 10px;
}

.container1,.container2,.container3{
    height:93vh;
    flex-direction: column;
    justify-content: start;
     --gap-around:4px;
     --box-size: 40px;
     --box-width:27px;
}

.container1{
    flex-grow: 0.5;
    gap:var(--gap-around);
    align-items: center;
}

.container2{
    flex-grow: 10;
    padding: 0;
        
}

.container3{
    flex-grow: 14;
    gap:var(--gap-around);
}

.boxA{
    justify-content: space-around;
    height: var(--box-size);
    width: var(--box-size);
    margin-top: 3px;
}

.boxB{
    flex-grow: 1;
    margin:0;
    gap: var(--gap-around);
    height: var(--box-size);
}

.boxB-1{
    align-items: center;
}

.block{
    height:var(--box-width);  
}

.block-1{
flex-grow: 6;
}

.block-2,.block-3{
flex-grow: 0.5;
}

.boxC{
     flex-direction: column;
     gap: var(--gap-around);
     height:18%;
     padding:2px;
     
}

.boxC-1{
     flex-direction: row;
     gap: var(--gap-around);
     height: var(--box-size);
      align-items: center;
}

.cell{
    flex-grow: 0.5;
    height: var(--box-width);
}

.cell-2{
    flex-grow: 8;
}

.item30{
    height: var(--box-size);  
    width:30%;
  }  

.item60{
    width:60%;
  height: var(--box-size);  
}

.flex-end{
   align-items: flex-end;
}
.purple-border{
    border-color:purple;
}
.blue-border{
    border-color:blue;
}
.green-border{
    border-color:green;
}
.red-border{
    border-color:red;
}