*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.border{
    border: 3px solid black ;
    padding: 5px;
}
.flex-container{
    display:flex;
    flex-direction: row;    
}
.purple-border{
    border-color:purple;
}
.blue-border{
    border-color:blue;
}
.green-border{
    border-color:green;
}
.red-border{
    border-color:red;
}