*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.border{
    border: 3px solid black ;
    padding: 5px;
}
.flex-container{
    display:flex;
    flex-direction: row;    
}
.outer{
   height:97vh; 
    margin: 10px;
}
.container1,.container2,.container3{
    height:93vh;
    flex-direction: column;
    justify-content: start;
}
.container1{
    flex-grow: 0.5;
}
.container2{
        flex-grow: 10;
        padding: 0;
        
}
.container3{
        flex-grow: 14;
        
}
.purple-border{
    border-color:purple;
}
.blue-border{
    border-color:blue;
}
.green-border{
    border-color:green;
}
.red-border{
    border-color:red;
}